@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  /* background-color: black; */
  /* color: white; */
}

body {
  background-color: black !important;
}
.transparent {
  background-color: transparent;
}

.inline {
  display: inline;
}
